<div class="row">
    <h3>datos traidos del ws</h3><br>
    {{  (personas|async|json)  }}
<table>
    <thead>
        <tr>
            <td>nombre</td>
            <td>apellido</td>
            <td>sexo</td>
        </tr>
    </thead>
    <tbody>
        <!-- aqui se van a insertar las filas con la info del ws -->
        <!-- ref: https://stackoverflow.com/questions/54044639/angular-6-cannot-find-a-differ-supporting-object-object-object-of-type-ob -->
        <!-- <tr *ngFor="let persona of (personas|async)?.persona"> -->
        <tr *ngFor="let persona of personas|async">
            <!-- <td>{{persona.name}}</td>
            <td>{{persona.surname}}</td>
            <td>{{persona.gender}}</td>
            <td>{{persona.region}}</td> -->
            <!-- <td>{{persona.codigo}}</td> -->
            <!-- <td>{{persona.descripcion}}</td> -->
            <!-- <td>{{persona.precio}}</td> -->
            <!-- hola -->
            un array json: ---- {{persona|json}}   >>><br>
        </tr>
    </tbody>
</table>
</div>
<div class="row">
    <br>
    <!-- <h3>formulario de alta de persona</h3>
    <br>
    <br>
    <form>
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form> -->
</div>
